*::selection{
    background:black;
    color: white;
}


body {
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.topContainer {
    display: flex;
    justify-content: center;
}

.sectionNames {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navContainer {
    display: flex;
    justify-content: center;
}

.sectionNames li {
    font-family: 'Cinzel', serif;
    padding-right: 40px;
    font-size: 14px;
    line-height: 22px;
}

.stickyNav {
    padding-top: 35px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.headerTop {
    background-color: #fff;
    display: initial;
}

.sectionNames a {
    text-decoration: none;
    color: #000;
}

.sectionNames a:hover {
    color: #930077;
}

.purpleDiv h2 {
    font-size: 40px;
    line-height: 48px;
    font-family: 'Cinzel', serif;
    color: #ffffff;
    font-weight: 400;
}

.purpleDiv {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #930077;
    padding-left: 20%;
}

.wineDetails {
    padding: 120px 0;
}

.wineImage img {
    width: 570px;
    height: 600px;
}

.wineImage i {
    position: absolute;
    top: 50%;
    color: gray;
    font-size: 17px;
}

.wineContainer {
    display: flex;
    justify-content: center;
}

.wineText h2 {
    font-size: 32px;
    color: #930077;
    font-family: 'Roboto', serif;
    font-weight: 400;
    margin: 10px 0;
}

.wineText p {
    font-size: 16px;
    line-height: 27px;
    color: #808080;
    font-family: 'Roboto', serif;
    font-weight: 400;
}

.minus {
    width: 35px;
    height: 38px;
    border: 1px solid #930077;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.minus:hover {
    background-color: #930077;
}

.minus:hover i {
    color: #ffffff;
}

.plus {
    width: 35px;
    height: 38px;
    border: 1px solid #930077;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.plus:hover {
    background-color: #930077;
}

.plus:hover i {
    color: #ffffff;
}

.minus i {
    font-size: 10px;
    color: #930077;
}

.plus i {
    font-size: 10px;
    color: #930077;
}

.count {
    width: 132px;
    height: 38px;
    border: 1px solid rgb(219, 219, 219);
    font-family: 'Roboto', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wineCount {
    display: flex;
}

.formButton {
    width: 125px;
    height: 55px;
    background-color: #930077;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: .3s;
}

.formButton:hover {
    background-color: #70005c;
}

.secondHeader {
    position: relative;
}

.secondHeadContainer {
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.secondTexts {
    position: absolute;
    left: 35%;
    top: 35%;
}

.secondTexts h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: #ffffff;
    margin: 0;
}

.secondTexts span {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    color: #ffffff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .3;
}

.review p {
    font-family: 'Cinzel', serif;
}

.review {
    text-align: center;
    margin-right: 30px;
}

.reviewsContainer {
    display: flex;
    justify-content: center;
}

.reviews {
    padding: 150px 0;
    background-color: #930077;
}

.footer {
    padding: 120px 0;
}

.copyright {
    display: flex;
    justify-content: center;
}

.socialFooter i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialFooter a {
    width: 45px;
    display: inline-block;
    height: 45px;
    border-radius: 50%;
    background: #930077;
    transition: .4s;
    top: 0;
    position: relative;
}

.socialFooter {
    text-align: center;
    margin-bottom: 50px;
}

.socialFooter a:hover {
    background: black;
    top:-10px
}