*::selection{
    background:black;
    color: white;
}


body {
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.topContainer {
    display: flex;
    justify-content: center;
}

.sectionNames {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navContainer {
    display: flex;
    justify-content: center;
}

.sectionNames li {
    font-family: 'Cinzel', serif;
    padding-right: 40px;
    font-size: 14px;
    line-height: 22px;
}

.stickyNav {
    padding-top: 35px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.headerTop {
    background-color: #fff;
    display: initial;
}

.sectionNames a {
    text-decoration: none;
    color: #000;
}

.sectionNames a:hover {
    color: #930077;
}

.textProduct h2 {
    font-family: 'Cinzel', serif;
    color: #000000;
    font-size: 32px;
    font-weight: 300;
}

.textProduct {
    text-align: center;
}

.product {
    width: 350px;
    height: 370px;
    position: relative;
    background-color: #F3F4F5;
    margin-right: 30px;
    margin-top: 150px;
}

.products {
    padding: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productText {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: flex-end
}

.productText h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.productOverlay {
    width: 310px;
    height: 200px;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 5%;
    display: none;
}

.product:hover .productOverlay {
    display: block;
}

.productOverlay h3 a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

.rating {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.rating i {
    color: #FFBD38;
    font-size: 14px;
}

.button {
    background: #930077;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 40px;
}

.button i {
    padding-right: 20px;
}

.secondHeader {
    position: relative;
}

.secondHeadContainer {
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.secondTexts {
    position: absolute;
    left: 35%;
    top: 35%;
}

.secondTexts h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    color: #ffffff;
    margin: 0;
}

.secondTexts span {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    color: #ffffff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .3;
}

.review p {
    font-family: 'Cinzel', serif;
}

.review {
    text-align: center;
    margin-right: 30px;
}

.reviewsContainer {
    display: flex;
    justify-content: center;
}

.reviews {
    padding: 150px 0;
}

.footer {
    padding: 100px 0;
}

.copyright {
    display: flex;
    justify-content: center;
}

.socialFooter i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialFooter a {
    width: 45px;
    display: inline-block;
    height: 45px;
    border-radius: 50%;
    background: #930077;
    transition: .4s;
    top: 0;
    position: relative;
}

.socialFooter {
    text-align: center;
    margin-bottom: 50px;
}

.socialFooter a:hover {
    background: black;
    top:-10px
}